<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serious_Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/level2.css') }}">
    <script src="static/JS/jquery.min.js">
        < script src = "https://code.iconify.design/1/1.0.7/iconify.min.js" >
    </script>

    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <script type="text/javascript" src="static/JS/raphael-min.js"></script>
    <script type="text/javascript" src="static/JS/justgage.min.js">
    </script>
    <script type="text/javascript" src="static/JS/raphael-min.js"></script>
    <script type="text/javascript" src="static/JS/justgage.min.js">
    </script>
    <script src="static/JS/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <style>
        body {
            color: black;
            background-color: white;
            background-image: url(static/back9.png);
        }
        
        p {
            font-family: 'Roboto Mono', monospace;
            font-size: 50px;
            margin-left: 25%;
        }
        
        #score {
            font-family: 'Roboto Mono', monospace;
            font-size: 15px;
        }
        
        #speed {
            font-family: 'Roboto Mono', monospace;
            font-size: 15px;
        }
        
        p3 {
            font-family: 'Roboto Mono', monospace;
            font-size: 20px;
            position: absolute;
            left: 75%;
            top: 75%;
            width: 200px;
            height: 200px;
            margin-left: -100px;
            /* Cette valeur doit être la moitié négative de la valeur du width */
            margin-top: -100px;
            color: red;
        }
    </style>

</head>


<body>

    <header>
        <div class="inner-width">

            <i class="menu-toggle-btn fas fa-bars"></i>
            <nav class="navigation-menu">
                <a href="/"><i class="fas fa-home home"></i> HOME</a>


                <a href="{{ url_for('level1') }}"><i class="fab fa-buffer works"></i> GAME 1</a>
                <a href="{{ url_for('index') }}"><i class="fas fa-align-left about"></i> VISUALIZATION</a>

                <a href="{{ url_for('about') }}"><i class="fas fa-users team"></i> ABOUT US</a>
                <a href="{{ url_for('tutorials') }}"><i class="fas fa-headset contact"></i> TUTORIALS</a>
                <a href="https://github.com/orthopus/01-myocoach"><i class="fa fa-github"></i> Github</a>


            </nav>
        </div>



    </header>


    <div class="container">




        <img class="bird" src="static/bird.png" width="40px">

        <div class="up pole"></div>
        <div class="down pole"></div>


        <div id="start">
            <h1>START</h1>
        </div>
    </div>


    <div id="restart">
        RESTART
    </div>
    <p3 id="p4"> Make a contraction to the reach the Threshold </p3>

    <div class="value">
        <div id="score">Score is : <span>0</span></div>
        <div id="speed">Speed is : <span>10</span></div>

    </div>


    <div class="row" style="display: flex;">


        <div id="g1" class="col" style="width:150px; height:320px; margin-left: 5%; flex: 1; 
        padding: 1em;
        ">
        </div>
        <div id="g2" class="col" style="width:200px; height:320px; margin-left: 25%; flex: 1; 
        padding: 1em;
        ">

        </div>
    </div>







    <script>
        var threshold = prompt("Please define the THRESHOLD");

        alert("A contraction that exceed the threshold make fly the bird at the top ! ");

        $(document).ready(function() {

            /* making objects from the DOM */
            var container = $(".container");
            var bird = $(".bird");
            var pole = $(".pole");
            var pole_up = $(".up.pole");
            var pole_down = $(".down.pole");
            var score_val = $("#score span");
            var speed_val = $("#speed span");
            var cloud1 = $(".cloud1");
            var cloud2 = $(".cloud2");


            var chartTemperatue;
            var chartHumidity;
            var emg1_sensor;
            var emg2_sensor;


            function requestData() {


                var requests = $.get('/data');

                var tm = requests.done(function(result) {

                    emg1_sensor = result[1];
                    emg2_sensor = result[2];

                    g1.refresh(emg1_sensor);
                    g2.refresh(emg2_sensor);


                });


            }
            setInterval(requestData, 50)

            var g1 = new JustGage({
                id: "g1", // the id of the html element
                value: emg1_sensor,
                min: 0,
                max: 255,
                decimals: 2,
                gaugeWidthScale: 0.6,
                pointer: true,
                counter: true,


            });

            var g2 = new JustGage({
                id: "g2", // the id of the html element
                value: emg2_sensor,
                min: 0,
                max: 255,
                decimals: 2,
                gaugeWidthScale: 0.6,
                pointer: true,
                counter: true,


            });


            /* variables with initial values */
            var container_width = parseInt(container.width());
            var container_height = parseInt(container.height());
            var pole_initial_position = parseInt(pole.css('right'));
            var pole_initial_height = parseInt(pole.css('height'));
            var speed_initial = 10;
            var score_initial = 0;
            var bird_initial_position = parseInt(bird.css('top'));

            /* game logic */
            $(document).on('click', '#start', function() {

                /* vanishing start button on click */
                $('#start').hide();




                var pole_position = pole_initial_position;
                var speed = speed_initial;
                var score = score_initial;
                var bird_position = bird_initial_position;

                var key_up = false;





                var the_game = setInterval(function() {

                    if (emg1_sensor < threshold)

                    {
                        document.getElementById("p4").innerHTML = " Threshold not reached !";
                    }
                    if (emg1_sensor > threshold)

                    {
                        document.getElementById("p4").innerHTML = " Threshold reached !";
                        key_up = true;


                        if (parseInt(bird.css('top')) > -10) /* do not let go out of container */
                            bird.css('top', parseInt(bird.css('top')) - (2 * (emg1_sensor / threshold)));
                        //bird.animate({

                        //top: "-=3"
                        //}, 50);
                        key_up = false;


                    }

                    if (collision(bird, pole_up) || collision(bird, pole_down)) {
                        stop_the_game();

                    } else {





                        /* poles moving */
                        pole_position = parseInt(pole.css('right'));

                        if (pole_position > container_width) {

                            var pole_up_height = (Math.floor(Math.random() * 260 + 1)); /*changing the heights of poles */
                            var pole_down_height = 400 - pole_up_height - 150;
                            pole_up.css('height', pole_up_height);
                            pole_down.css('height', pole_down_height);


                            pole_position = pole_initial_position - 150;
                            speed += 1; /* increment speed by 1 */
                            speed_val.html(speed);
                            score += 25; /* increment score by 5 */
                            score_val.html(score);

                        }

                        pole.css('right', pole_position + speed);


                        /*  bird moving down until a up key is pressed  */
                        if (key_up === false && parseInt(bird.css('top')) < 350) { /* do not let go out of container */
                            //bird.css('top',parseInt(bird.css('top'))+6);


                        }
                        if (emg2_sensor > threshold) {
                            bird.css('top', parseInt(bird.css('top')) + (2 * (emg2_sensor / threshold)));
                        }



                        /* cloud1 moving */
                        if (parseInt(cloud1.css('right')) > container_width) {
                            cloud1.css('right', -3200);
                            cloud1.css('top', 20 + (Math.floor(Math.random() * 290 + 1)));
                        }
                        cloud1.css('right', parseInt(cloud1.css('right')) + speed);

                        cloud1.css('top', parseInt(cloud1.css('top')));

                        /* cloud2 moving  */
                        if (parseInt(cloud2.css('right')) > container_width) {
                            cloud2.css('right', -3200 - (Math.floor(Math.random() * 300 + 1)));
                            cloud2.css('top', 20 + (Math.floor(Math.random() * 290 + 1)));
                        }
                        cloud2.css('right', parseInt(cloud2.css('right')) + speed);

                        cloud2.css('top', parseInt(cloud2.css('top')));




                    }






                }, 40);

                /* on pressing up key the bird moves up by 40 px*/
                $(document).on('keydown', function(e) {
                    if (e.which == 38 && the_game != null) { /* checking for up key press and whether the_game is running or not */
                        key_up = true;


                        if (parseInt(bird.css('top')) > -10) /* do not let go out of container */
                            bird.animate({
                                top: "-=40"
                            }, 200);
                        key_up = false;
                    }




                });






                /* Function for stopping the game */
                function stop_the_game() {
                    clearInterval(the_game);
                    the_game = null; /* making the the_game null */

                    /* hiding the poles, clouds, bird after game end */
                    cloud1.css('display', 'none');
                    cloud2.css('display', 'none');
                    pole.css('display', 'none');
                    bird.css('display', 'none');

                    /*Displaying the "GAME OVER" and highlighting the score*/
                    $('#start').html('<h1>GAME OVER</h1>');
                    $('#start').css('font-size', '30px');
                    $('#start').show();
                    $('#score').css('background-color', "#F39376");
                    $('#score').css('box-shadow', "0px 0px 5px black");

                    /* Displaying the "RESTART BAR" */
                    $('#restart').css('display', 'block');


                }

                /* restarting game after pressing restart */

                $('#restart').click(function() {
                    location.reload(window.location.href);

                });



                /* Function checks for collision of bird */
                function collision($div1, $div2) {
                    var x1 = $div1.offset().left;
                    var y1 = $div1.offset().top;
                    var h1 = $div1.outerHeight(true);
                    var w1 = $div1.outerWidth(true);
                    var b1 = y1 + h1;
                    var r1 = x1 + w1;
                    var x2 = $div2.offset().left;
                    var y2 = $div2.offset().top;
                    var h2 = $div2.outerHeight(true);
                    var w2 = $div2.outerWidth(true);
                    var b2 = y2 + h2;
                    var r2 = x2 + w2;

                    if (b1 < y2 || y1 > b2 || r1 < x2 || x1 > r2) return false;
                    return true;
                }


            });

        });
    </script>

</body>

</html>